:root{
	--black-themed: #090300;
	--red-themed: #db2d20;
	--green-themed: #01a252;
	--yellow-themed: #fded02;
	--blue-themed: #01a0e4;
	--purple-themed: #a16a94;
	--cyan-themed: #b5e4f4;
	--white-themed: #a5a2a2;
	--bright-black-themed: #5c5855;
	--bright-red-themed: #e8bbd0;
	--bright-green-themed: #3a3432;
	--bright-yellow-themed: #4a4543;
	--bright-blue-themed: #807d7c;
	--bright-purple-themed: #d6d5d4;
	--bright-cyan-themed: #cdab53;
	--bright-white-themed: #f7f7f7;
}
